name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    env:
      SSH_HOST: 52.221.47.201
      SSH_USERNAME: ubuntu

    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-qemu-action@v1

    - uses: mr-smithers-excellent/docker-build-push@v5
      with:
        image: flask_docker
        registry: 940443069190.dkr.ecr.ap-southeast-1.amazonaws.com
        tags: ${{  github.sha }}
        platform: linux/arm64/v8
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      # - name: Copy env file to host
      #   uses: appleboy/scp-action@master
      #   with:
      #     host: ${{ env.SSH_HOST }}
      #     username: ${{ env.SSH_USERNAME }}
      #     key: ${{ secrets.SSH_KEY }}
      #     port: 22
      #     source: env.${{ env.ENV }}
      #     target: /home/ec2-user

      - name: Run docker commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.SSH_HOST }}
          username: ${{ env.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          # envs: GHCR_USER,GHCR_PASS
          script: |
            docker container stop $(docker container ls -aq)
            docker run -d -p 5000:8000 940443069190.dkr.ecr.ap-southeast-1.amazonaws.com/flask_docker:${{  github.sha }}
            docker container prune -f
            docker image prune -a -f
