compute_address_name = "lsx-address-{{ branch_name }}"
backend_client_cloud_run_service_name = "client-service-run-{{ branch_name }}"
network_endpoint_group_name = "cloudrun-neg-client-{{ branch_name }}"
client_cloud_run_service = "lsx-client-{{ branch_name }}"
backend_server_cloud_run_service_name = "server-service-run-{{ branch_name }}"
region_server_network_endpoint_group_name = "cloudrun-neg-server-{{ branch_name }}"
server_cloud_run_service = "lsx-server-{{ branch_name }}"
region_admin_network_endpoint_service_name = "admin-service-run-{{ branch_name }}"
region_admin_network_endpoint_group_name = "cloudrun-neg-admin-{{ branch_name }}"
admin_cloud_run_service = "lsx-admin-{{ branch_name }}"
urlmap_name = "lsx-url-map"
http_redirect_name = "http-redirect-{{ branch_name }}"
target_http_proxy = "lsx-http-proxy-{{ branch_name }}"
http_forwarding_rule = "lsx-http-rule-{{ branch_name }}"
https_forwarding_rule = "lsx-https-rule-{{ branch_name }}"
target_https_proxy = "lsx-https-proxy-{{ branch_name }}"
ssl_certificate_name = "lsx-certs"
